html *
{
   font-family: Poppins;
   --primary: #004A93;
   --secondary: #3677C7;
}

.body-gradient {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

.landing-header{
    display: flex;
    background: white;
    flex-direction: row;
    width: 100%;
    height: 76px;
}

.drop-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);   
}

.logo-container{
    flex: 2;
}

.nav-container{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item-button{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-profile{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar{
    border-radius: 50%;
    width: 60px;
}

.primary-button-sleek{
    background-color: #004A93;
    width: 138px;
    height: 25px;
    border-radius: 33px;
    text-align: center;
    font-size: 12px;
    line-height: 2.2;
}

.font-white{
    color: white;
}

.section {
    width: 100%;
    height: 100vh;
}
.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-sec-1-img{
    margin-top: -60px;
    width: 750px;
}

.landing-sec-1-heading{
    font-size: 36px;
    text-align: center;
}

.landing-sec-2-heading{
    font-size: 24px;
    text-align: center;
}

.landing-sec-heading-divider{
    width: 70%;
    height: 2px;
    background-color: white;
    outline: 0px;
    border: 0px;
}

.section-sub-heading{
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    width: 50%;
}

.landing-sec-1-button-container{
    display: flex;
    justify-content: center;
    margin-top: 22px;
    width: 40%;
}

.watch-party-button{
    background-color: #00BED4;
    width: 205px;
    height: 49px;
    border-radius: 33px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    line-height: 2.7;
}

.learn-more-button{
    background-color: transparent;
    border: 1px solid white;
    width: 205px;
    height: 49px;
    border-radius: 33px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    line-height: 2.7;
}

.landing-multi-image-container{
    width: 100%;
    position: relative;
    height: 66%;
}

.landing-sec-2-img{
    position: absolute;
    width: 300px;
    right: 360px;
    top: -55px;
}

.landing-sec-3-img{
    position: absolute;
    width: 640px;
    left: 240px;
}

.landing-sec-4-img{
    position: absolute;
    width: 400px;
    left: 240px;
    top: -55px;
}

.landing-sec-5-img{
    position: absolute;
    width: 560px;
    right: 310px;
}

.footer-divider{
    width: 100%;
    height: 3px;
    margin-bottom: 50px;
    background-color: white;
}

button{
    border: 0px;
    outline: 0px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

a { 
    color: inherit; 
    text-decoration: none;
} 